<div class = "container pb-2">
  <h3>みんなの目標が見れるよ</h3>
  <% @targets.each do |target| %>
    <%= link_to target_path(target), class: "hover" do %>
      <div class = "row mt-2 bg-light text-center">
        <div class = "col-3">
          <%= image_tag target.user.get_icon, size: "60x60", class: "mt-3 rounded-circle" %>
        </div>
        <div class = "col-3">
          <%= target.user.name %>
        </div>
        <div class = "col-3">
          <%= target.title %>
        </div>
        <div class = "col-3">
          <p></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>