<div class = "row p-3 d-flex justfiy-content-center mx-auto">
  <div class = "col-md-5 py-3 bg-body rounded shadow-sm ">
    <h1 class = "text-bold text-center">Study Start</h1>
    <hr />

    <!----- time select section ----->
    <div class = "time-select text-center">
      <h4 class = "text-bold">Time Select</h4>

      <button type = "button" class = "btn btn-secondary" data-time = "3600">60min</button>
      <button type = "button" class = "btn btn-secondary" data-time = "1800">30min</button>
      <button type = "button" class = "btn btn-secondary" data-time = "900">15min</button>
    </div>

    <hr />

    <!----- sound select section ----->
    <div class = "sound-select text-center">
      <h4 class = "text-bold">Sound Select</h4>

      <!-- cafe-btn-->
      <button type = "button" class = "btn btn-warning" data-sound = "assets/cafe.mp3" data-image = "assets/cafe.jpg">
        <i class="bi bi-cup"></i><br />
        <h4>Cafe</h4>
      </button>

      <!-- rain-btn -->
      <button type = "button" class = "btn btn-warning" data-sound = "assets/rain.mp3" data-image = "assets/rain.jpg">
        <i class="bi bi-cloud-rain-heavy"></i><br />
        <h4>Rain</h4>
      </button>

      <!-- wave-btn -->
      <button type = "button" class = "btn btn-warning" data-sound = "assets/wave.mp3" data-image = "assets/wave.jpg">
        <i class="bi bi-droplet-half"></i><br />
        <h4>Wave</h4>
      </button>

      <!-- woods-btn -->
      <button type = "button" class = "btn btn-warning" data-sound = "assets/bird.mp3" data-image = "assets/bird.jpg">
        <i class="bi bi-tree"></i><br />
        <h4>Woods</h4>
      </button>
    </div>
    <div class = "text-center my-3">
      <!-- 再生ボタン -->
      <button id = "play" type = "button" class = "btn btn-lg btn-warning">
        <i>Play</i>
      </button>
    </div>

  </div>

  <!----- player content section ----->
  <div class = "player-container col-md-6 text-center rounded">

    <%= audio_tag("cafe.mp3", class: "sound rounded", loop: true) %>
    <%= image_tag("cafe.jpg", class: "back-ground") %>

    <!-- カウントスタートorストップ -->
    <h1 id = "time-display" class = "text-bold text-light">00:00</h1>
    <button id = "start-button" class = "btn btn-secondary">Start</button>
    <button id = "stop-button" class = "btn btn-secondary">Stop</button>

  </div>
</div>