/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*header section*/

header {
  width: 100%;
  height: 100px!important;
  background-color: #336600;
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: fixed;
}

.brand a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-menu {
  width: 600px;
  margin-bottom: 0!important;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu-item a {
  color: white;
  font-size: 25px;
  padding: 2rem;
  text-decoration: none;
  transition: all 0.5s;
}


.brand a:hover,
.menu-item a:hover {
  background-color: red;
  color: #C0C0C0;
  transition: all 0.5s;
}


/*  main section  */

main {
  padding-top: 100px;
}